.calculator {
  margin: 5% auto;
  padding: 1%;
  background: #e0e0e0;
  width: 300px;
  border-radius: 10px;
}
.calculator .monitor {
  width: 100%;
  height: 90px;
  border-radius: 5px;
  background: #fff;
  text-align: right;
  padding: 28px 10%;
  font-size: 25px;
  font-weight: bold;
  color: #000;
}
.calculator .bc {
  margin-top: 15px;
}
.calculator .bc div div {
  background: rgb(117, 115, 113);
  border-radius: 5px;
  height: 50px;
  text-align: center;
  padding-top: 12px;
  font-size: 18px;
  color:#fff;
  cursor: pointer;
}
.calculator .bc div div:hover {
  background: rgb(150, 147, 145);
}
.calculator .bc div div.operation {
  background: rgb(225, 137, 52);
  font-weight: bold;
}
.calculator .bc div div.operation:hover {
  background: rgb(193, 117, 45);
}